div.end.container(class=screen === screens.end ? "" : "hidden")
  div.filter-container
  div.credits
    h1(style={ 'text-align': 'center', 'z-index': 999 })="Who wants to be a millionaire fastest finger"
    br
    h1(style={ 'text-align': 'center', 'z-index': 999 })="Written by: Marc Asher (ashermja)"
    br
    h1(style={ 'text-align': 'center', 'z-index': 999 })="Adapted from buzzer by bufferapp"
    h1(style={ 'text-align': 'center', 'z-index': 999 })="Written by: Dan Farrelly (djfarrelly)"
    h1(style={ 'text-align': 'center', 'z-index': 999 })=" and Colin Ross (colinscape)"
    br
    br
    h1(style={ 'text-align': 'center', 'z-index': 999 })="Thanks for playing"

