doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href='/styles/style.css')
    link(rel="stylesheet" href='/styles/mobile.css')
  body.mobile-body
    

    div.container
      header
        h2=("Choose mode")
        hr.solid
        img.millionaire-host-logo(src="/assets/images/millionaire-logo.png" alt="millionaire")

      button.button.ribbon-outset.border.js-audience-mode
        p='TV mode'
      button.button.ribbon-outset.border.js-player
        p='Join'
      button.button.ribbon-outset.border.js-host
        p='Host'

  script(src='/choice.js' type='module')